/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* universal style and utility */
* {
 scroll-behavior: smooth;
}
body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}
header {
 background-color: #2d25a0;
 height: 100vh;
 margin-bottom: 70px;
}
img {
 display: block;
 width: 100%;
}
.container {
 width: 90%;
 max-width: 1200px;
 margin: 0 auto;
}
.btn {
 background-color: #e02c6d;
 border: none;
 padding: 15px 30px;
 color: #ffffff;
 font-size: 16px;
 cursor: pointer;
 transition: transform 300ms;
}
.btn a {
 display: inline-block;
 text-decoration: none;
 color: #ffffff;
}
.btn:hover {
 transform: translateX(5px) scale(1.2);
}
/* ------------------------------
Navbar and Header Style
----------------------------- */
nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.navbar {
 width: 50%;
}

.navbar ul {
 display: flex;
 justify-content: space-between;
 padding: 20px 0;
}
.navbar ul li {
 list-style: none;
}
.navbar ul li a {
 text-decoration: none;
 color: #ffffff;
 overflow: hidden;
 transition: all 300;
}
.navbar ul li a:hover {
 color: #e02c6d;
}
.fa-bars {
 color: white;
 font-size: 1.5em;
 display: none;
}
.header-content {
 display: flex;
 align-items: center;
 justify-content: space-between;
 min-height: 100%;
 color: #ffffff;
}
.header-text h1 {
 font-size: 64px;
 margin: 0;
}
.header-text {
 width: 50%;
}
.header-image {
 width: 48%;
 position: relative;
}
.football-player {
 animation: player 3s 1s alternate infinite;
}
.football {
 position: absolute;
 height: 80px;
 width: 80px;
 top: 85px;
 left: 30px;
 animation: football 6s 2s infinite;
}
/* -------------------------------
players section
----------------------------- */

.players-section {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 30px;
 margin-bottom: 5em;
}
.player {
 padding: 15px;
 border-radius: 0px;
 background: #ffffff;
 box-shadow: 6px 6px 12px #ededed, -6px -6px 12px #f3f3f3;
 overflow: hidden;
}
.player img {
 transition: all 800ms;
}
.player img:hover {
 transform: scale(1.1);
}
.player p {
 color: #6c6c6c;
}
/* ----------------------
iframe section style
----------------------- */
.iframe-section {
 display: flex;
 align-items: center;
 flex-direction: column;
 margin-bottom: 5em;
}
.iframe-container {
 display: flex;
 justify-content: space-between;
}
.iframe-details,
.iframe-main {
 width: 48%;
}

.iframe-section h1 {
 font-size: 2rem;
}
/* ---------------------------------------
highlights section style
--------------------------------------- */
.highlights-section {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 10em;
}
.highlights-text,
.highlights-image {
 width: 48%;
}
/* -------------------------
 sponsors section style
 -------------------------- */
.sponsors-section {
 padding: 1em 3em 3em 3em;
 border-radius: 0px;
 background: #ffffff;
 box-shadow: 7px 7px 14px #ededed, -7px -7px 14px #ffffff;
}
.sponsors-title {
 text-align: center;
 font-size: 2rem;
 color: #e02c6d;
}
.sponsors-title span {
 color: #2d25a0;
}
.sponsor-showcase {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-gap: 30px;
}
.sponsor {
 padding: 25px 0;
 border-radius: 25px;
 background: #ffffff;
 box-shadow: inset 12px 12px 27px #ebebeb, inset -12px -12px 27px #ffffff;
 transition: all 300ms;
}
.sponsor:hover {
 transform: scale(1.05);
}
.sponsor img {
 width: 50%;
 margin: 0 auto;
}
/*---------------------------------
 footer style 
 ----------------------------------*/
.footer-section {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-bottom: 2em;
 padding-top: 3em;
}
.footer-image {
 width: 300px;
}
.back-to-top {
 font-size: 40px;
 color: #e02c6d;
 position: fixed;
 bottom: 10px;
 right: 20px;
}
.contact-icons a {
 display: inline-block;
 margin: 0 10px;
 font-size: 2rem;
 color: #b8b8b8;
}
/* ------------------------------------- 
 animation style
 -------------------------------------- */
@keyframes player {
 0% {
  transform: rotate(0);
 }
 100% {
  transform: rotate(20deg);
 }
}
@keyframes football {
 0% {
  transform: translateX(0px);
 }
 50% {
  transform: translateY(-400px) translateX(-400px);
 }
}

/* -------------------------------------------------
Media queries Mobile Devices
-------------------------------------------------- */
@media screen and (max-width: 688px) {
 /* header and nav media queries */
 .navbar ul {
  display: none;
 }
 .login-btn {
  margin-top: 1em;
 }
 .fa-bars {
  display: inline-block;
  cursor: pointer;
 }
 .header-content {
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
 }
 .header-text {
  width: 100%;
 }
 .header-text h1 {
  font-size: 2.5rem;
 }
 .header-image {
  width: 90%;
  margin-top: 2em;
 }

 /* players grid section media queries */
 .players-section {
  grid-template-columns: repeat(1, 1fr);
 }
 /* Iframe section */
 .iframe-container {
  flex-direction: column;
 }
 .iframe-details,
 .iframe-main {
  width: 100%;
 }
 /* Highlights Section media queries */
 .highlights-section {
  flex-direction: column;
 }
 .highlights-text,
 .highlights-image {
  width: 100%;
 }
 .highlights-image {
  margin-top: 1.5em;
 }
 /* sponsors section */
 .sponsor-showcase {
  grid-template-columns: repeat(2, 1fr);
 }
 /* ------- animation  ----------*/
 .football {
  height: 50px;
  width: 50px;
  top: 35px;
  left: 10px;
 }
}
/* ----------------------------------------------
Media Queries Tab Devices 
------------------------------------------------- */
@media screen and (min-width: 688px) and (max-width: 992px) {
 /*  Navbar and Header */
 .navbar ul {
  display: none;
 }
 .login-btn {
  margin-top: 1em;
 }
 .fa-bars {
  display: inline-block;
  cursor: pointer;
 }
 .header-content {
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
 }
 .header-text {
  width: 100%;
 }
 .header-text h1 {
  font-size: 2.5rem;
 }
 .header-image {
  width: 90%;
  margin-top: 2em;
 }

 /* players grid section media queries */
 .players-section {
  grid-template-columns: repeat(2, 1fr);
 }
 /* Iframe section */
 .iframe-container {
  flex-direction: column;
 }
 .iframe-details,
 .iframe-main {
  width: 100%;
 }
 /* Highlights Section media queries */
 .highlights-section {
  flex-direction: column;
 }
 .highlights-text,
 .highlights-image {
  width: 100%;
 }
 .highlights-image {
  margin-top: 1.5em;
 }
 /* sponsors section */
 .sponsor-showcase {
  grid-template-columns: repeat(2, 1fr);
 }
}
